@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="homepage">
    <h1 class="display-4">Welcome to Travel.kg</h1>
    <p class="display-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <img class="img" src="kuromi.jpg" alt="Home Page" />
    <button class="homebutton">Join us</button>
    <button class="heartbutton">&hearts;</button>
</div>

